.FilterCriteria {
  background-color: white;
  width: 400px;
  overflow: auto;
  height: calc(100vh - 144px);
}
.criteriaItems {
  padding: 24px;
}

.hideFilterCriteria {
  right: -400px;
}

.showFilterCriteria {
  right: 0px;
}
.count {
  height: 36px;
  width: 50px;
}

.submitSearch {
  position: sticky;
  bottom: 0;
  background-color: white;
}
